@import "cms";
@import "nav";
@import "popup";
@import "modal";

:root {
    --color-yellow: #d7ad00;
    --color-black: #2b2b2b;
    --color-light-dark: #555555;
    --color-gray: #d9d9d9;
    --brd-radius: 36px;
}
