@import "tab";
@import "dropDown";
@import "nav";
@import "home-page";

:root {
    --color-yellow: #d7ad00;
    --color-black: #2b2b2b;
    --color-light-dark: #555555;
    --color-gray: #d9d9d9;
    --color-dark-gray: #a9a9a9;
    --brd-radius: 36px;
}

* {
    scrollbar-gutter: stable both-edges;
}

.signup-register {
    display: flex;
    justify-content: center;
}

.signup {
    display: flex;
    flex-direction: column;
    grid-row-gap: 2rem;
}

.input-form {
    display: flex;
    flex-direction: column;
    grid-row-gap: 2rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    height: 60px;

    padding: 0 2rem;
    border: none;
    border-radius: var(--brd-radius);
    font-size: 24px;

    &.yellow {
        background-color: var(--color-yellow);
        color: var(--color-black);
    }
    &.black {
        background-color: var(--color-black);
        color: white;
    }
    &.gray {
        background-color: var(--color-gray);
        color: var(--color-black);
    }

    &.wide {
        width: 100%;
    }
}

select,
input[type="text"],
input[type="password"] {
    height: 60px;
    border-radius: var(--brd-radius);
    font-size: 22px;
    color: var(--color-yellow);
    background-color: transparent;
    border: 2px solid white;
    padding: 0 1rem;

    &::placeholder {
        color: var(--color-yellow);
    }
}

.rounded-gray {
    height: 59px;
    padding: 0 1.5rem;
    background-color: var(--color-dark-gray);
    color: black;

    border-radius: var(--brd-radius);

    display: flex;
    align-items: center;
    grid-column-gap: 8px;
    & span {
        margin-top: 4px;
        line-height: 0%;
    }
    & i {
        line-height: 0%;
    }
}

.account-client {
    display: flex;
    flex-direction: column;

    grid-row-gap: 2rem;
    margin-top: 2rem;
    &__bar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: var(--color-light-dark);
        padding: 0 1rem;

        border-radius: var(--brd-radius);
        height: 59px;

        font-size: 18px;
        font-weight: 600;
        &-upgrade {
            background-color: var(--color-yellow);
            height: 40px;
            border-radius: var(--brd-radius);
            display: flex;
            align-items: center;
            color: var(--color-black);
            padding: 0 1rem;
        }
        &-add {
            display: flex;
            align-items: center;
            grid-column-gap: 6px;
        }
        & img {
            height: 30px;
        }
    }
}

.table {
    display: grid;
    align-items: center;

    padding: 1rem;
    grid-row-gap: 1rem;
    grid-column-gap: 2rem;
    &.account-master {
        grid-template-columns: repeat(8, max-content);
    }
    &.account-dues {
        grid-template-columns: repeat(7, max-content);
    }

    &.account-list {
        grid-template-columns: repeat(5, max-content);
    }

    & .line {
        grid-column: 1/-1;
    }
}

.accounts-list {
    & li {
        display: grid;
        align-items: center;
        padding: 1rem;
        grid-row-gap: 1rem;
        grid-column-gap: 2rem;
        grid-template-columns: 150px 100px 100px 100px 150px 150px 150px 150px;
        & img {
            height: 50px;
            width: auto;
        }
    }
}
.line {
    height: 3px;
    background-color: white;
}

.rounded-img {
    align-self: center;
    position: relative;
    cursor: pointer;

    width: 200px;
    height: 200px;

    & button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 0;
        border: 5px solid var(--color-yellow);
        background-color: transparent;
        & i {
            line-height: 0;
            position: absolute;
            bottom: 25px;
            right: 25px;
            background-color: var(--color-yellow);
            padding: 12px;
            border-radius: 50%;
        }
    }
    & img {
        border-radius: 50%;
        object-fit: cover;
    }
}

.main {
    padding: 3rem 0;
}

.flex-form {
    display: flex;
    flex-direction: column;
    grid-row-gap: 1rem;
}

.update-customer {
    align-self: center;
    min-width: 400px;
    & .upload-img {
        align-items: center;
        grid-row-gap: 1rem;
    }
}

.master-cards {
    margin: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    & .master-card {
        border: 5px solid var(--color-gray);
        border-radius: var(--brd-radius);
        padding: 2rem;
        position: relative;

        &__title {
            position: absolute;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);

            // height: 60px;
            padding: 1rem 2rem;

            display: flex;
            align-items: center;
            justify-content: center;
            grid-column-gap: 20px;

            background-color: var(--color-gray);
            border-radius: var(--brd-radius);

            color: var(--color-black);

            & img {
                height: 50px;
                width: 50px;
                object-fit: cover;
                border-radius: 50%;
            }

            & span {
                font-size: 24px;
                white-space: nowrap;
            }
        }
        &__body {
            display: flex;
            flex-direction: column;
            grid-row-gap: 1rem;
            padding-top: 2rem;
            & span {
                font-size: 22px;
            }
            &-btn {
                display: flex;
                justify-content: center;
                grid-column-gap: 2rem;
            }
        }
    }
}
